# Day 12

Source: https://www.kaggle.com/datasets/fredericksalazar/pib-gdp-global-by-countries-since-1960-to-2021?select=countries_gdp_hist.csv

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('countries_gdp_hist.csv', delimiter=';')
df.shape

(13330, 10)

In [7]:
df.sample(10)

,country_code,region_name,sub_region_name,intermediate_region,country_name,income_group,year,total_gdp,total_gdp_million,gdp_variation
7240,LVA,Europe,Northern Europe,no data,Latvia,Ingreso alto,2008,3.585427e+10,35854.274229,-3.249121
1647,BRA,Americas,Latin America and the Caribbean,South America,Brazil,Ingreso mediano alto,1995,7.693333e+11,769333.330412,4.223794
5996,JOR,Asia,Western Asia,no data,Jordan,Ingreso mediano alto,2004,1.141171e+10,11411.706629,8.567215
1024,BFA,Africa,Sub-Saharan Africa,Western Africa,Burkina Faso,Países de ingreso bajo,1992,3.356693e+09,3356.692518,0.232711
8256,MOZ,Africa,Sub-Saharan Africa,Eastern Africa,Mozambique,Países de ingreso bajo,1970,0.000000e+00,0.000000,0.000000
5084,HND,Americas,Latin America and the Caribbean,Central America,Honduras,Países de ingreso mediano bajo,1960,3.356500e+08,335.650000,0.000000
5445,IMN,Europe,Northern Europe,no data,Isle of Man,Ingreso alto,2011,6.566098e+09,6566.098382,1.999999
1424,BLR,Europe,Eastern Europe,no data,Belarus,Ingreso mediano alto,2020,6.137113e+10,61371.126414,-0.699608
1131,BGR,Europe,Eastern Europe,no data,Bulgaria,Ingreso mediano alto,1975,0.000000e+00,0.000000,0.000000
13214,ZMB,Africa,Sub-Saharan Africa,Eastern Africa,Zambia,Países de ingreso bajo,1968,1.605857e+09,1605.857143,1.248330

In [8]:
df.drop(columns=['country_code', 'region_name', 'sub_region_name', 'intermediate_region'], inplace=True)
df.shape