# Day 21
## Author: Sergio Esteban Tarrero
### Source: https://www.kaggle.com/datasets/imtkaggleteam/renewable-energy-1960-2023

In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('renewable_energy.csv', delimiter=',')
df.shape

(15904, 8)

In [50]:
df.dtypes

LOCATION       object
INDICATOR      object
SUBJECT        object
MEASURE        object
FREQUENCY      object
TIME            int64
Value         float64
Flag Codes     object
dtype: object

In [51]:
df = df.drop(['INDICATOR', 'SUBJECT', 'MEASURE', 'FREQUENCY', 'Flag Codes'], axis=1)
df.shape

(15904, 3)

In [52]:
df_filtrado = df[df['TIME'] == 2015]
df_filtrado.shape

(284, 3)

In [53]:
paises_europeos = ['AUT', 'BEL', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU', 'GRC', 'HUN', 'ISL', 'IRL', 'ITA', 'LUX', 'NLD', 'NOR', 'POL', 'PRT', 'SVK', 'ESP', 'SWE', 'CHE', 'GBR', 'EST', 'ISR', 'SVN']
len(paises_europeos)

25

In [54]:
list(paises_europeos)

['AUT',
 'BEL',
 'CZE',
 'DNK',
 'FIN',
 'FRA',
 'DEU',
 'GRC',
 'HUN',
 'ISL',
 'IRL',
 'ITA',
 'LUX',
 'NLD',
 'NOR',
 'POL',
 'PRT',
 'SVK',
 'ESP',
 'SWE',
 'CHE',
 'GBR',
 'EST',
 'ISR',
 'SVN']

In [55]:
df_europeos = df_filtrado[df_filtrado['LOCATION'].isin(paises_europeos)]
df_europeos.head(5)

    LOCATION  TIME      Value
111      AUT  2015   9594.934
167      BEL  2015   3321.576
279      CZE  2015   3571.810
335      DNK  2015   4542.163
391      FIN  2015  10472.371

In [56]:
min_value = df_europeos['Value'].min()
max_value = df_europeos['Value'].max()

In [57]:
df_europeos['standarized'] = ((df_europeos['Value'] - min_value) * (100 - 0)) / (max_value - min_value) + 0

C:\Users\Sergio\AppData\Local\Temp\ipykernel_5224\4065626935.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_europeos['standarized'] = ((df_europeos['Value'] - min_value) * (100 - 0)) / (max_value - min_value) + 0

In [58]:
df_europeos.to_csv('renewable_energy_europe.csv', sep=',', index=False)